.category__head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.category__card{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3rem;
    padding: 0.5rem;
    height: 15svh;
}